@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0 0);
	--color-gray-100: oklch(0.97 0 0);
	--color-gray-200: oklch(0.922 0 0);
	--color-gray-300: oklch(0.87 0 0);
	--color-gray-400: oklch(0.708 0 0);
	--color-gray-500: oklch(0.556 0 0);
	--color-gray-600: oklch(0.439 0 0);
	--color-gray-700: oklch(0.371 0 0);
	--color-gray-800: oklch(0.269 0 0);
	--color-gray-900: oklch(0.205 0 0);
	--color-gray-950: oklch(0.145 0 0);

	--color-primary-50: oklch(0.979 0.021 166.113);
	--color-primary-100: oklch(0.95 0.052 163.051);
	--color-primary-200: oklch(0.905 0.093 164.15);
	--color-primary-300: oklch(0.845 0.143 164.978);
	--color-primary-400: oklch(0.765 0.177 163.223);
	--color-primary-500: oklch(0.696 0.17 162.48);
	--color-primary-600: oklch(0.596 0.145 163.225);
	--color-primary-700: oklch(0.508 0.118 165.612);
	--color-primary-800: oklch(0.432 0.095 166.913);
	--color-primary-900: oklch(0.378 0.077 168.94);
	--color-primary-950: oklch(0.262 0.051 172.552);

	--font-body: var(--font-family), var(--font-fallback);
	--font-display: var(--font-body);
}
